body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: #e2eff0;
}

.blog__title {
  font-size: 40px;
  color: #000;
  font-weight: 700;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.title__blog {
  font-size: 40px;
  line-height: 48px;
}

.row {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.col__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post__title__input,
.post__text__input {
  font-family: inherit;
  width: 500px;
  height: 60px;
  padding: 10px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
}

.post__text__input {
  width: 500px;
  height: 250px;
}

.new__post__btn,
.reset__post__btn,
.reset__blog__btn {
  margin: 0 auto;
  font-family: inherit;
  width: 500px;
  height: 60px;
  border-radius: 7px;
  border: none;
  background-color: #0094ff;
  cursor: pointer;
}

.reset__post__btn {
  background-color: red;
}

.reset__blog__btn {
  background-color: rgb(214, 177, 43);
}

.new__post__btn:hover,
.reset__post__btn:hover,
.reset__blog__btn:hover {
  opacity: 0.7;
}

.text__btn {
  font-size: 32px;
  line-height: 39px;
  font-weight: 400;
  color: #fff;
}

.text__btn_red {
  color: #fff;
}

.col__right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.posts {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  color: #979797;
}

.post__date {
  font-size: 25px;
  font-weight: 400;
  color: #0094ff;
}

.post__title {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  color: #000;
}
.post__text {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.post {
  margin-bottom: 20px;
}

.post__title__symbols,
.post__text__symbols {
  display: none;
  color: #f00;
  font-size: 25px;
  font-weight: 400;
}
