body {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  background-color: #e2eff0;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 100px;
}

.blog__app-title {
  padding: 50px;
  font-size: 40px;
  color: #4e41b1;
  text-align: center;
}

.col__new-post{
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: #1a48c8 solid 10px;
  padding: 15px;
  border-radius: 30px;
}

.post__date {
  font-size: 25px;
  line-height: 30px;
  color: #2292c9;
  margin-bottom: 15px;
}

.title__text {
  font-size: 35px;
  line-height: 48px;
  color: #5a4040;
  margin-bottom: 20px;
}

.validationMessage_hidden {
  display: none;
}

.post {
  margin-bottom: 50px;
}

.post__output {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #979797;
}

.post-title-input {
  width: 500px;
  height: 60px;
  border-radius: 5px;
  font-size: 40px;
  padding: 15px;
}

.post__title {
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 15px;
}

.post-text-input {
  width: 500px;
  height: 250px;
  border-radius: 5px;
  font-size: 40px;
  padding: 15px;
}

textarea {
  resize: none;
}

.post__text {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.new-post-btn {
  font-family: inherit;
  width: 500px;
  height: 60px;
  background-color: #0094ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-post-btn:hover {
  opacity: 0.5;
  background-color: #1ec532;
  transition: 0.5s;
}

.btn__text {
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.validationMessage {
  font-size: 18px;
  color: #ff0000;
}

.col__posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
